body {
    margin:0;
    padding: 0;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    background-color: hotpink;
    color: white;
}
.tareaList {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
form{
    display: flex;
}
input {
    padding: 15px 10px;
    width: 300px;
    outline: none;
}
.btn-add {
    padding: 5px 15px;
    color: black;
    border: none;
    font-size: medium;
    background-color: pink;
    font-size: medium;
    outline: none;
}
h1 {
    text-align: center;
    color: black;
}
.container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 30px;

}
ul{
    padding: 0;
}
li {
    list-style: none;
    background-color: lightpink;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
}
li p {
    margin: 0;
    padding: 15px;
    width: 100%;
}
.btn-delete {
    margin-left: auto;
    border: none;
    background-color: pink;
    color: black;
    font-weight: bold;
    padding: auto;
    border-radius: 10px;
    width: 10%;
    font-size: 1.2rem;



}

.btn-delete:hover {
    background-color: aquamarine;
    cursor: pointer;
}
.empty {
    color: black;
}